<template>
  <div class="hello">
    <h1>POS Client v0.21a</h1>
    <h2>Please login</h2>

    <WaiterListView v-bind:waiters="waiters" />

    <div class='ui basic content center aligned segment'>
      <div class='ui centered card'>
        <div class='content'>
          <div class='ui form'>
            <div class='field'>
              <label>Waiter:</label>
              <label>
                <input type='text' v-model="waiterId" ref='waiterId' defaultValue="" />
              </label>
            </div>
            <div class='field'>
              <label>Password:</label>
              <label>
                <input type='text' v-model="password"  ref='password' defaultValue="" />
              </label>
            </div>
          </div>
        </div>
      </div>
      <button class='ui basic button icon' v-on:click="onLogin">Login</button>
    </div>
    <div v-if="errorText">
      <p>{{ errorText }}</p>
    </div>
  </div>
</template>

<script>
import WaiterListView from './WaiterListView'
import { bus } from '@/main'


/* const message = {
  Command: 'get_waiters',
  Terminal: 1,
}*/


export default {
  components: {
    WaiterListView,
  },
  props: ['connection', 'TerminalId'],
  created () {
    this.init()
  },
  methods: {
    init() {
      console.log('Init LoginView');
      bus.$on('got_waiters', (payload) => {
        console.log('Got waiters');
        this.waiters = JSON.parse(payload);
      });
      bus.$on('waiter_changed', (payload) => {
        console.log('Waiter changed');
        this.waiterId = JSON.parse(payload);
      });
      bus.$on('waiter_not_changed', (payload) => {
        console.log('GWaiter did not change');
        this.errorText = JSON.parse(payload).reason;
      });
      bus.$on('terminal_error', (payload) => {
        console.log('Terminal error');
        this.errorText = JSON.parse(payload).reason;
      });

      let msg = JSON.stringify({Terminal: 1, Command: 'get_waiters'});
      this.connection.send('HandleCommand', msg)
          .catch(function(err) {
            return console.error(err.toString());
          });
    },
    onLogin () {
        console.log('Sending...')
        let payload = JSON.stringify({Waiter: 1});
        let command = { Terminal: this.TerminalId, Command: 'set_waiter', Payload: payload};
        this.errorText = undefined;
        this.connection.send(JSON.stringify(command))
            .catch(function(err) {
              return console.error(err.toString());
            });
    },
  },
  data() {
    return {
      waiterId: 0,
      password: '',
      waiters: undefined,
      errorText: undefined,
    }
  }
}
</script>
