<template>
  <div>
    <!-- p>{{ waiters }}</p -->
    <div class="List" v-if="waiters">
      <ul v-for="waiter in waiters" v-bind:key="waiter.Id">
        <li>{{ waiter.Id }} - {{ waiter.Name }}</li>
      </ul>
    </div>
    <div v-if="waiters===undefined">
      <p>Loading data...</p>
    </div>
  </div>
</template>

<script>
export default {
  props: ['waiters'],

}
</script>
