<mat-toolbar color="primary" class="mat-elevation-24">
  <button mat-icon-button (click)="navigation.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>BonMonitor</span>
</mat-toolbar>
<app-navigation #navigation></app-navigation>
