<div *ngIf="book; else loading">
  <h1>{{ book.title }}</h1>
  <h3 *ngIf="book.subtitle">{{ book.subtitle }}</h3>
  <div class="ui divider"></div>
  <div class="ui grid">
    <div class="four wide column">
      <h4>Autoren</h4>
      <ng-container *ngFor="let author of book.authors">
        {{ author }}<br>
      </ng-container>
    </div>
    <div class="four wide column">
      <h4>ISBN</h4>
      {{ book.isbn }}
    </div>
    <div class="four wide column">
      <h4>Erschienen</h4>
      {{ book.published }}
    </div>
    <div class="four wide column">
      <h4>Rating</h4>
      <i class="yellow star icon"
         *ngFor="let r of getRating(book.rating)"></i>
    </div>
  </div>
  <h4>Beschreibung</h4>
  <p>{{ book.description }}</p>
  <div class="ui small images">
    <img *ngFor="let thumbnail of book.thumbnails"
         [src]="thumbnail.url">
  </div>
  <button class="ui red button"
          [routerLink]="'/books'">
    Zurück zur Buchliste
  </button>
  <button class="ui tiny red labeled icon button" (click)="removeBook()">
    <i class="remove icon"></i>Buch löschen
  </button>
</div>

<ng-template #loading>
  <div class="ui active centered inline loader"></div>
</ng-template>
