
<div class="ui menu">
  <a routerLink="home" routerLinkActive="active" class="item">Home</a>
  <a routerLink="books" routerLinkActive="active" class="item">Bücher</a>
  <a routerLink="admin" routerLinkActive="active" class="item">Administration</a>
</div>

<router-outlet></router-outlet>
