<mat-sidenav-container>
  <mat-sidenav [opened]="isVisible">
    <mat-nav-list>
      <a mat-list-item routerLink="settings">Settings</a>
      <a mat-list-item routerLink="clients">Clients</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    Hauptbereich
  </mat-sidenav-content>
</mat-sidenav-container>
