<template>
  <div>
    <div v-if="TerminalId===0">
      <p>ERROR: Terminal ID has not been set!</p>
    </div>
    <div v-if="TerminalId!==0">
      <div v-if="!connected">
        <p>Connecting to server...</p>
      </div>
      <div id="app">
        <LoginView v-bind:connection="connection" v-bind:TerminalId="TerminalId" v-if="connected" />
     </div>
    </div>
  </div>
</template>

<script>
/* https://www.dotnetcurry.com/aspnet-core/1480/aspnet-core-vuejs-signalr-app */
import LoginView from './components/LoginView.vue'
import { HubConnectionBuilder, LogLevel } from '@aspnet/signalr'
import { bus } from './main.js'

/* function Sleep(milliseconds) {
  return new Promise(resolve => setTimeout(resolve, milliseconds));
} */

export default {
  name: 'App',
  mounted () {
    this.TerminalId = 1;
    this.init(this)
  },
  methods: {
    init(what) {
      this.connection = new HubConnectionBuilder()
        .withUrl('http://localhost:5000/pos')
        .configureLogging(LogLevel.Debug)
        .build();
      this.connection.on('HandleEvent', function(data) {
        console.log('Got data '+data)
        let msg = JSON.parse(data);
        if (msg.Terminal!==what.TerminalId) {
          console.log('Wrong terminal, '+msg.Terminal+' <> '+what.TerminalId);
          return;
        }
        bus.$emit(msg.EvtName, msg.Payload);
      });
      this.connection.start()
          .catch( function(err) {
            return console.error(err);
          })
          .then(() => {
            this.connected = true;
          });
    }
  },
  components: {
    LoginView
  },
  data() {
    return {
      TerminalId: 0,
      connection: undefined,
      connected: false,
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
