<?xml version="1.0" encoding="UTF-8"?>
<!--
  http://social.msdn.microsoft.com/forums/en-US/tfsbuild/thread/1cc7b91d-1cb4-4850-8f7f-478dd2fc403e 
  http://www.ageektrapped.com/blog/setting-properties-for-wix-in-msbuild/
  http://neilsleightholm.blogspot.com/2008/08/customised-uis-for-wix.html
  http://wix.sourceforge.net/manual-wix3/WixUI_customizations.htm
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <!-- Produkt-Definition -->
  <Product Id="*"
           Name="!(loc.ProductName)"
           Language="!(loc.Language)"
           Version="$(var.ProductVersion)"
           Manufacturer="Slesa Solutions"
           UpgradeCode="f6f2968f-d114-44b9-874e-4f32ffe64427"
           Codepage="utf-8">


    <!-- Package-Definition -->
    <Package InstallerVersion="301" 
             Compressed="yes"
             Description="!(loc.ProductDescr)"
             Comments="(c) 2011 Slesa Solutions"
             InstallScope="perMachine"
             InstallPrivileges="elevated" />


    <!-- Requirements -->
    <MajorUpgrade DowngradeErrorMessage="!(loc.ErrorNewerVersion)" />
    <!--<PropertyRef Id="NETFRAMEWORK45" />-->
    <!--<Condition Message="!(loc.ErrorFramework)">NETFRAMEWORK45</Condition>-->
    <Condition Message="!(loc.ErrorAdminRights)">Privileged</Condition>


    <!-- Icons -->
    <Icon Id="I__BackOfficeIcon" SourceFile="Resources\Poseidon.ico" />
    <Property Id="ARPPRODUCTICON" Value="I__BackOfficeIcon"/>


    <!-- Media -->
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />


    <!-- Directory-Struktur -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="SlesaFolder" Name="Slesa Solutions">
          <Directory Id="APPLICATIONFOLDER" Name="Poseidon" />
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder"/>
      <!-- shortcut directories -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuVendorFolder" Name="Slesa Solutions">
          <Directory Id="ProgramMenuProductFolder" Name="Poseidon" />
        </Directory>
      </Directory>
    </Directory>


    
    <!-- Komponenten-Struktur -->

    <DirectoryRef Id="APPLICATIONFOLDER" FileSource="..\..\bin\build">

      <Component Id="C__SharedComponents" Guid="b81ad615-4091-49a9-ab09-d0da690bcb05">
        <File Id="F__Common_Crypto" Name="Common.Crypto.dll" />
        <File Id="F__FluentNHibernate" Name="FluentNHibernate.dll" />
        <File Id="F__IesiCollections" Name="Iesi.Collections.dll" />
        <File Id="F__log4net" Name="log4net.dll" />
        <File Id="F__Expression_Interactions" Name="Microsoft.Expression.Interactions.dll" />
        <File Id="F__Prism_Composition" Name="Microsoft.Practices.Prism.Composition.dll" />
        <File Id="F__Prism_Interactivity" Name="Microsoft.Practices.Prism.Interactivity.dll" />
        <File Id="F__Prism_Mvvm" Name="Microsoft.Practices.Prism.Mvvm.dll" />
        <File Id="F__Prism_Mvvm_Desktop" Name="Microsoft.Practices.Prism.Mvvm.Desktop.dll" />
        <File Id="F__Prism_PubSubEvents" Name="Microsoft.Practices.Prism.PubSubEvents.dll" />
        <File Id="F__Prism_SharedInterfaces" Name="Microsoft.Practices.Prism.SharedInterfaces.dll" />
        <File Id="F__Prism_UnityExtensions" Name="Microsoft.Practices.Prism.UnityExtensions.dll" />
        <File Id="F__ServiceLocation" Name="Microsoft.Practices.ServiceLocation.dll" />
        <File Id="F__Unity" Name="Microsoft.Practices.Unity.dll" />
        <File Id="F__Unit_Configuration" Name="Microsoft.Practices.Unity.Configuration.dll" />
        <File Id="F__Unity_RegistrationByConvention" Name="Microsoft.Practices.Unity.RegistrationByConvention.dll" />
        <File Id="F__NHibernate" Name="NHibernate.dll" />
        <File Id="F__Interactivity" Name="System.Windows.Interactivity.dll" />
        <File Id="F__Unity_AutoRegistration" Name="Unity.Autoregistration.dll" />
      </Component>

      <Component Id="C__BackOffice" Guid="{C46D1942-3C5C-4edf-8E06-36D48DFD8892}">
        <File Id="F__BackOffice" Name="Poseidon.BackOffice.exe" KeyPath="yes" />
        <File Id="F__BackOfficeCfg" Name="Poseidon.BackOffice.exe.config" />
        <File Id="F__BackOffice_Common" Name="Poseidon.BackOffice.Common.dll" />
        <File Id="F__BackOffice_Core" Name="Poseidon.BackOffice.Core.dll" />
        <File Id="F__BackOffice_Module_Pms" Name="Poseidon.BackOffice.Module.Pms.dll" />
        <File Id="F__BackOffice_Module_Ums" Name="Poseidon.BackOffice.Module.Ums.dll" />
        <File Id="F__BackOffice_Theme" Name="Poseidon.BackOffice.Theme.dll" />
        <File Id="F__Common_Persistence" Name="Poseidon.Common.Persistence.dll" />
        <File Id="F__Common_Wpf" Name="Poseidon.Common.Wpf.dll" />
        <File Id="F__Domain_Common" Name="Poseidon.Domain.Common.dll" />


        <util:XmlFile Id="X__DbConnection" Action="setValue"
                      Permanent="yes"
                      ElementPath="/configuration/appSettings/add[\[]@key='DbConnection'[\]]"
                      File="[#F__BackOfficeCfg]" Name="value"
                      Value="[DBCONNECTION]"  Sequence="1" />

      </Component>

      <!--<Component Id="C__BackOfficeIcs" Guid="{613F262E-156E-49FD-82F7-31F659F1511C}">
      </Component>-->

      <Component Id="C__BackOfficeUms" Guid="{A8A43C44-526D-487F-9319-855EA5BCF725}">
        <File Id="F__Ums_Domain_Hibernate" Name="Poseidon.Ums.Domain.Hibernate.dll" />
        <File Id="F__Ums_Domain_Model" Name="Poseidon.Ums.Domain.Model.dll" />
        <File Id="F__Ums_Domain_Resources" Name="Poseidon.Ums.Domain.Resources.dll" />
      </Component>

      <Component Id="C__BackOfficePms" Guid="{BF7884AB-D67D-4773-B69B-6CFD563727B2}">
        <!--<File Id="F__Pms_Domain_Hibernate" Name="Poseidon.Pms.Domain.Hibernate.dll" />-->
        <File Id="F__Pms_Domain_Model" Name="Poseidon.Pms.Domain.Model.dll" />
        <File Id="F__Pms_Domain_Resources" Name="Poseidon.Pms.Domain.Resources.dll" />
      </Component>

    </DirectoryRef>


    <DirectoryRef Id="ProgramMenuFolder">
      <Component Id="S__ProgramMenuComponent" Guid="B251E613-8954-471F-A489-FA8D3A4D8821">

        <!-- create folders -->
        <CreateFolder Directory="ProgramMenuVendorFolder" />
        <CreateFolder Directory="ProgramMenuProductFolder" />

        <!-- remove folder -->
        <RemoveFolder Id="RemoveProgramMenuVendorFolder" Directory="ProgramMenuVendorFolder" On="uninstall" />
        <RemoveFolder Id="RemoveProgramMenuProductFolder" Directory="ProgramMenuProductFolder" On="uninstall" />

        <!-- main shortcut -->
        <Shortcut Id="XamlBoardShortcut"
                  Directory="ProgramMenuProductFolder"
                  WorkingDirectory="APPLICATIONFOLDER"
                  Name="Poseidon BackOffice"
                  Icon="I__BackOfficeIcon"
                  Description="!(loc.BackOfficeDescription)"
                  Target="[APPLICATIONFOLDER]XAMLBOARD.EXE"/>

        <!-- registry keys -->
        <RegistryValue Root="HKCU" Key="Software\Slesa\Poseidon" Name="BackOffice" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>


    <!-- Feature-Struktur -->
    <Feature Id="SharedFiles" Level="1" 
             InstallDefault="local" 
             Absent="disallow" 
             AllowAdvertise="no" 
             TypicalDefault="install"
             Title="!(loc.SharedFeatureTitle)"
             ConfigurableDirectory="APPLICATIONFOLDER"
             Description="!(loc.SharedFeatureDescription)">
      <ComponentRef Id="C__SharedComponents" />
    </Feature>

    <Feature Id="BackOffice" Level="1" Display="expand" 
             InstallDefault="local" AllowAdvertise="no"
             Title="!(loc.BackOfficeFeatureTitle)"
             Description="!(loc.BackOfficeFeatureDescription)">
      <ComponentRef Id="C__BackOffice" />
      <ComponentRef Id="S__ProgramMenuComponent" />

      <Feature Id="BackOfficeUms" Level="1" InstallDefault="local" AllowAdvertise="no"
             Title="!(loc.BackOfficeUmsFeatureTitle)"
             Description="!(loc.BackOfficeUmsFeatureDescription)">
        <ComponentRef Id="C__BackOfficeUms" />
      </Feature>
      <Feature Id="BackOfficePms" Level="1" InstallDefault="local" AllowAdvertise="no"
             Title="!(loc.BackOfficePmsFeatureTitle)"
             Description="!(loc.BackOfficePmsFeatureDescription)">
        <ComponentRef Id="C__BackOfficePms" />
      </Feature>
      <!--<Feature Id="BackOfficeIcs" Level="1" InstallDefault="local" AllowAdvertise="no"
             Title="!(loc.BackOfficeIcsFeatureTitle)"
             Description="!(loc.BackOfficeIcsFeatureDescription)">
        <ComponentRef Id="C__BackOfficeIcs" />
      </Feature>-->

    </Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONFOLDER" />
    <!--<Property Id="ApplicationFolderName" Value="Poseidon" />-->
    <!--<Property Id="WixAppFolder" Value="WixPerMachineFolder" />-->
    <!--<Property Id="ADDLOCAL" Value="SharedFiles" />-->
    <!--<Property Id="LicenseAccepted" Value="1" />-->

    <!--<WixVariable Id="WixUILicenseRtf" Value="license.rtf"/>-->
    <!--<WixVariable Id="WixUIDialogBmp" Value="$(sys.SOURCEFILEDIR)\Resources\WixUI_Bitmap.jpg" />-->
    <!--<WixVariable Id="WixUIBannerBmp" Value="$(sys.SOURCEFILEDIR)\Resources\WixUI_Banner.jpg" />-->

    <UIRef Id="WixUI_ErrorProgressText" />
    <!--<UIRef Id="WixUI_Mondo" />-->
    <!--<UIRef Id="WixUI_Advanced" />-->
    <!--<UIRef Id="WixUI_FeatureTree" />-->
    <UIRef Id="CustomUI_Mondo" />

  </Product>
</Wix>
